#container {
    display: flex;

    #control-panel {
        padding: 10px 15px 10px 20px;
        box-sizing: border-box;

        #simulation-speed {
            display: flex;
            align-items: center;

            .mat-slider {
                margin: 0 10px;
            }
        }
    }

    #phaser-canvas {
    }
}
