/* You can add global styles to this file, and also import other style files */
$toolbar-height: 60px;

html,
body {
    height: 100%;
    text-align: center;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body,
canvas {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    border-radius: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: #dddddd;
}
